<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a><img width="100%;" src="https://www.jambopay.com/img/logo.png" alt=""></a></mat-toolbar>
    <mat-nav-list>
      <br>
      <a mat-list-item href="#"> Home </a><br>
      <a class="nav-link" routerLink="create-user" routerLinkActive="active">Create User</a><br>
      <a class="nav-link" routerLink="generate-bill" routerLinkActive="active">Generate Bill</a><br>
      <a class="nav-link" routerLink="upload-bill" routerLinkActive="active">Upload Bill</a><br>
      <a class="nav-link" routerLink="bill-details" routerLinkActive="active">Bill Details</a><br>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #0C0E20; color:#fff;" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Merchant Panel</span>
      &nbsp; &nbsp;
      <a  *ngIf="currentUser" style="color: #fff;" class="btn btn-primary" (click)="logout()">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main>
      
        <router-outlet></router-outlet>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>