<h2>Revenue Streams</h2>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> revenue Stream number </mat-header-cell>
            <mat-cell *matCellDef="let RevStream"> {{RevStream.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let RevStream"> {{RevStream.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="revenue_description">
            <mat-header-cell *matHeaderCellDef> Revenue Description </mat-header-cell>
            <mat-cell *matCellDef="let RevStream"> {{RevStream.revenue_description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Merchant_Owner">
            <mat-header-cell *matHeaderCellDef> Merchant Owner </mat-header-cell>
            <mat-cell *matCellDef="let RevStream"> {{RevStream.Merchant_Owner}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let RevStream"> {{RevStream.price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Industrys">
            <mat-header-cell *matHeaderCellDef> Industries </mat-header-cell>
            <mat-cell *matCellDef="let RevStream"> {{RevStream.Industrys}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<br>
<button mat-raised-button class="btn btn-primary">Download pdf</button>