<main-nav></main-nav>

<nav class="navbar navbar-expand-lg bg-transparent">
  <!-- <a class="navbar-brand" routerLink="">JP</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">

      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="merchant-details" routerLinkActive="active">Merchant Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bills-details" routerLinkActive="active">Bills Details</a>
      </li> -->
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="revenue-streams" routerLinkActive="active">Revenue Streams</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="payments-details" routerLinkActive="active">Payments Details</a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link" routerLink="generate-bill" routerLinkActive="active">Generate Bill</a>
        </li>
        <li style="padding-left: 100%;" class="nav-item">
          <a  *ngIf="currentUser" style="color: #fff;" class="btn btn-primary btn-lg" (click)="logout()">Logout</a>
        </li>
    </ul>
  </div>
</nav>
<br>

<div class="">
  </div>