<div class="example-container">
 <mat-form-field>
        <mat-select placeholder="Revenue Stream"  [(ngModel)]="newBill.Revstreams">
          <mat-option value="option"*ngFor="let dl of listItems" [value]="dl.id" > {{dl.name}} </mat-option>
        </mat-select>
      </mat-form-field> 

    <!-- <div>
        <mat-form-field>
            <input matInput [(ngModel)]="newBill.Revstreams" placeholder="Revenue Stream:">
        </mat-form-field>
    </div>  -->
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="newBill.customer_name" placeholder="Name:">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="newBill.customer_email" placeholder="Email:">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="newBill.customer_phone" placeholder="Phone:">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>    
            <input matInput [(ngModel)]="newBill.narration" placeholder="Narration:">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="newBill.quantity" placeholder="Quantity:">
        </mat-form-field>
    </div>

    <div>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="newBill.due_date" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>

    <div>
        <div class="form-group">
            <button mat-raised-button color="primary" (click)="addBill()">Create Bill</button>
        </div>
    </div>

</div>