<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

<div class="header">
    <div>
        <p class="page-heading">
            <span class="page-heading-primary">Register with us to manage your customers' bills effectively. <br> See
                all the bills you billed your customer on each transaction and track payments.</span></p>
    </div>
    <div class="login">
        <button class="btn btn-primary">Login</button>
    </div>

    <div class="logo">
        <img src="https://www.jambopay.com/img/logo.png" alt="">
    </div>
</div>